*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.nav{
    height: 80px;
    background-color: #dbd5d5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    gap: 30px;
}

h4{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: work sans;
}

h4::before{
    content: "";
    height: 5%;
    width: 0;
    background: linear-gradient(to right, #bd2e6e, #2e76ba);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s all;
}

h4:hover::before{
    width: 100%;
}

h4::after{
    content: "";
    height: 10%;
    width: 0;
    background: linear-gradient(to right, #bd2e6e, #2e76ba);
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s all;
}

h4:hover::after{
    width: 100%;
}
